NODE_ENV=production
PORT=4000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/chaos-ka-adda?retryWrites=true&w=majority
JWT_SECRET=<generate-with-npm-run-generate-jwt-secret>
CLIENT_URL=https://<your-frontend-domain>
